Source: redis
Section: database
Priority: optional
Maintainer: Redis Ltd. <redis@redis.io>
Build-Depends:
 debhelper (>= 9~),
 dpkg-dev (>= 1.17.5),
 libssl-dev,
 libsystemd-dev,
 pkgconf,
 autoconf,
 automake,
 libtool,
 cmake <!cross>,
 python3 <!cross>,
 python3-pip <!cross>,
 python3-venv <!cross>,
 python3-dev <!cross>,
 unzip,
 rsync,
 git,
 wget,
 curl,
 g++ <!cross>,
 clang <!cross>,
 systemd,
 procps <!nocheck>,
 tcl <!nocheck>,
 tcl-tls <!nocheck>
Standards-Version: 4.2.1
Homepage: https://redis.io/

Package: redis
Architecture: all
Depends:
 redis-server (<< ${binary:Version}.1~),
 redis-server (>= ${binary:Version}),
 ${misc:Depends},
Description: Persistent key-value database with network interface (metapackage)
 Redis is a key-value database in a similar vein to memcache but the dataset
 is non-volatile. Redis additionally provides native support for atomically
 manipulating and querying data structures such as lists and sets.
 .
 The dataset is stored entirely in memory and periodically flushed to disk.
 .
 This package depends on the redis-server package.

Package: redis-sentinel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends:
 redis-tools (= ${binary:Version}),
 ${misc:Depends},
Description: Persistent key-value database with network interface (monitoring)
 Redis is a key-value database in a similar vein to memcache but the dataset
 is non-volatile. Redis additionally provides native support for atomically
 manipulating and querying data structures such as lists and sets.
 .
 This package contains the Redis Sentinel monitoring software.

Package: redis-server
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends:
 redis-tools (= ${binary:Version}),
 ${misc:Depends},
Description: Persistent key-value database with network interface
 Redis is a key-value database in a similar vein to memcache but the dataset
 is non-volatile. Redis additionally provides native support for atomically
 manipulating and querying data structures such as lists and sets.
 .
 The dataset is stored entirely in memory and periodically flushed to disk.

Package: redis-tools
Architecture: any
Depends:
 adduser,
 ${misc:Depends},
 ${shlibs:Depends},
Replaces:
 redis-server (<< 2:2.6.16-1),
Breaks:
 redis-server (<< 2:2.6.16-1),
Description: Persistent key-value database with network interface (client)
 Redis is a key-value database in a similar vein to memcache but the dataset
 is non-volatile. Redis additionally provides native support for atomically
 manipulating and querying data structures such as lists and sets.
 .
 This package contains the command line client and other tools.
