#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/buildflags.mk

ifneq ($(DEB_HOST_GNU_TYPE),)
CC = $(DEB_HOST_GNU_TYPE)-gcc
endif

export CC CFLAGS CPPFLAGS LDFLAGS
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -ldl -latomic
export REDIS_CFLAGS='-Wno-error=uninitialized'
DEB_BUILD_OPTIONS = nocheck

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
	export MAKEFLAGS
endif

%:
	dh $@

# BUILD_WITH_MODULES is needed by override_dh_auto_build as well as override_dh_auto_install,
# so we export it here instead of passing 

ARCH := $(shell uname -m)

ifeq ($(ARCH), x86_64)
	export BUILD_WITH_MODULES=yes
	export DISABLE_WERRORS=yes
	export INSTALL_RUST_TOOLCHAIN=yes
else ifeq ($(ARCH), aarch64)
    export BUILD_WITH_MODULES=yes
		export INSTALL_RUST_TOOLCHAIN=yes
else
    $(warning Unsupported architecture: '$(ARCH)')
endif

override_dh_auto_install:
	debian/bin/generate-systemd-service-files
	debian/bin/adjust-config-files
	dh_auto_install

override_dh_auto_build:
	dh_auto_build --parallel -- V=1 BUILD_TLS=yes

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	# Avoid race conditions in upstream testsuite.
	./utils/gen-test-certs.sh
	./runtest --clients 1 --verbose --no-latency \
		--skiptest "diskless no replicas drop during rdb pipe" \
		--skiptest "diskless slow replicas drop during rdb pipe" \
		--skiptest "diskless fast replicas drop during rdb pipe" \
		--skiptest "diskless all replicas drop during rdb pipe"
	./runtest --clients 1 --tls --verbose --no-latency \
		--skiptest "diskless no replicas drop during rdb pipe" \
		--skiptest "diskless slow replicas drop during rdb pipe" \
		--skiptest "diskless fast replicas drop during rdb pipe" \
		--skiptest "diskless all replicas drop during rdb pipe"
	#./runtest-cluster --tls
	#./runtest-sentinel --tls
endif

override_dh_auto_clean:
	dh_auto_clean
	rm -f src/release.h debian/*.service
	rm -rf utils/tests
	rm -rf tests/tls
	rm -f tests/tmp/*

override_dh_compress:
	dh_compress -Xredis-trib.rb

override_dh_installchangelogs:
	dh_installchangelogs --keep 00-RELEASENOTES

override_dh_fixperms:
	dh_fixperms
	chmod 0755 debian/redis-server/usr/lib/redis/modules/*.so
